.clearfix {
    overflow: hidden;
    clear: both;
}

header{
    
    background: black;
    
}

.fixwidth{
    width: 960px;
    margin: 0 auto;
}

.topnav{
    margin: 0 50px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 200px;
}

a {
    text-decoration: none;
}

#logo a {
    color: #fff;
    font-size: 2rem;
}

#logo a span {
    color: #f06c64;
}

.topnav nav {
    width: 431px;
}

.topnav nav ul {
    list-style: none;
    display: flex;
}

.topnav nav ul li {
    float: left;
}

.topnav nav ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 15px 5px;
    border-radius: 5px;
}

.topnav nav ul li:hover>a {
    color: #f06c64;
    background-color: #fff;
}

#banner {
    background: #2d303a;
    padding: 3rem 0;
}

#ourServices{
    padding: 66px 0;
    background: #f2f2f2;
}

#portfolio h2,
#aboutUs h3,
#getaQuote h3,
#ourServices h1{
    font-size: 30px;
    color: #666d89;
}

#portfolio p,
#aboutUs p,
#getaQuote p,
#ourServices p {
    color: #767e89;
    font-size: 1rem;
    line-height: 30px;
    padding: 30px 0;
}

.itemService {
    width: 220px;
    float: left;
    margin-right: 20px;
    padding-left: 80px;
}

.itemService i {
    padding: 5px;
    border: 1px solid #767e9e;
    border-radius: 50%;
}

#portfolio{
    background: #2d303a;
    padding: 65px 0;
    
}

.portfolio {
    margin-bottom: 18px;
}

.portfolio ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.portfolio ul li {
    margin-right: 10px;
}

.portfolio ul li a{
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #767e9e;
    border-radius: 5px;
}

.selectedx,
.portfolio ul li a:hover {
    border: 1px solid #c5c5c5 !important;
    color: #c5c5c5 !important;
}

.itemx{
    float: left;
    margin-right: 20px;
    width: 215px;
    margin-bottom: 20px;
}

.itemx img {
    border-radius: 5px;
    height: 150px;
    width: 215px;
}

#page {
    width: 100%;
    text-align: right;

}

#page ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#page ul li {
    margin-left: 5px;
}

#page ul li a {
    color: #767e9e;
    border: solid 1px #767e9e;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#aboutUs{
    padding: 66px 0;
    background: #f2f2f2;
}

#aboutUs .itemAvata h4,
#ourServices h3{
    font-size: 18px;
    color: #666d89;
}

#aboutUs .itemAvata p,
#ourServices p {
    line-height: 21px;
}

.itemAvata {
    width: 300px;
    float: left;
    margin-right: 30px;
}

.itemAvata img {
    width: 300px;
    margin-bottom: 20px;
}

.itemfix {
    margin-right: 0px;
}

.itemAvata ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.itemAvata ul li {
    margin-right: 10px;
}

.itemAvata ul li a {
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #767e9e;
    border-radius: 50%;
}

#getaQuote{
    padding: 66px;
    background: #f2f2f2;
}

.itemform{
    float: left;
    width: 620px;
}

.itemform input,
.itemform textarea{
    background: wheat;
    width: 90%;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #666d89;
}

.contactform {
    float: left;
    width: 300px;
}

.contactform h4 {
    font-size: 18px;
    color: #666d89;
}

.contactform .css,
.contactform a{
    color: #666d89 !important;
}

.contactform ul{
    list-style: none;
}

.contactform ul li a {
    background-position: 0 9px;
    display: block;
    padding: 5px 10px;
}

button {
    margin-right: 50px;
    padding: 5px;
    font-size: 18px;
    float: right;
    border-radius: 5px;
    background: #f06c64;
    cursor: pointer;
}

footer .footer li,
#aboutUs .itemAvata ul li {
    float: left;
    margin-right: 5px;
}


footer {
    background: #2d303a;
    padding: 22px 0;
}

footer .footer{
    float: right;
    list-style: none;
}

footer address {
    float: left;
    width: 300px;
    padding-top: 10px;
    color: #c5c5c5;
}
