*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'font-medium';
    color: #222222;
    list-style: none;
}

a{
    text-decoration: none;
    color: #222222;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* header */
header .navbar .navbar-menu .menu-item{
    position: relative;
    line-height: 2.5;
}

header .navbar .selected::after,
header .navbar .navbar-menu .menu-item:hover::after{
    content: "";
    position: absolute;
    left: 0;right: 0;
    bottom: 0;
    height: 0.35rem;
    width: 70%;
    background-color: #bd945f;
}

/* banner */
.text-gold{
    color: #bd945f !important;
}
.border-gold {
    border-color: #bd945f !important;
}
.text-blue {
    color: #343659 !important;
}

/* all-products */
main .banner .img-banner {
    position: relative;
}

main .banner .btn-buy {
    position: absolute;
    right: 20%;
    bottom: 38%;
}

.list-products {
    background-color: #f3f3f3;
}

.list-products .filter-price-item:hover {
    cursor: pointer;
    color: #343659;
}

main .list-products .title{
    font-family: 'font-ultra';
    position: relative;
}

main .list-products .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 0.4rem;
    width: 10%;
    background-color: #bd945f;
}

main .list-details-desc {
    border-bottom: 3px solid #bd945f;
}

main .list-details-desc li {
    cursor: pointer;
}

main .list-details-desc li:hover {
    color: #343659;
    border-bottom: 3px solid #343659;
}
/* footer */
footer{
    margin-top: auto;
    background-color: #363636; 
}
footer li, footer span, footer i, footer a{
    color: #fff;
    font-family: 'font-thin';
    cursor: pointer;
}

footer li:hover, footer span:hover, footer i:hover, footer a:hover{
    color: #bd945f;
}

footer .container .title {
    
   margin-bottom: 1.3rem;
   position: relative;
}
footer .container .title::after{
    content: "";
    position: absolute;
    left: 0;right: 0;
    bottom: 0;
    height: 0.2rem;
    width: 6rem;
    background-color: #fff;

 }
 footer ul {
    padding: 0!important;
}

footer .container .title span{
    font-family: 'font-medium';
}


footer .contact .img-social{
    width: 2rem;
    margin-right: 1rem;
}

footer .contact img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .contact li:last-child{
    width: 11rem;
}

