* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header nav {
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
}

header nav .menu {
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
}

header nav .menu-item a {
    position: relative;
    line-height: 2rem;
    /* line-height: 2rem; */
}

header nav .selected::after,
header nav .menu-item a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    background-color: #bd945f;
    height: 0.3rem;
    width: 60%;
}

/* banner */
#banner {
    background-image: url(../images/san-pham/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 450px;
}

.container-banner {
    width: calc(1200%/18);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

#banner .line1 {
    color: #ba9759;
    font-size: 3rem;
}

#banner .line2 {
    color: #2c2e53;
    font-size: 2.5rem;
}

/* product */
#product {
    padding: 3rem 0;
    background-color: #f3f3f3;
}

/* nav product  */
#product .sub-nav {
    width: calc(11*100%/18);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#product .sub-nav .main-sub-nav-cost {
    display: flex;
}

#product .sub-nav .main-sub-nav-asc,
#product .sub-nav .sub-sub-nav-asc,
#product .sub-nav .main-sub-nav-cost,
#product .sub-nav .sub-sub-nav-cost {
    cursor: pointer;
}

#product .sub-nav .main-sub-nav-asc p,
#product .sub-nav .sub-sub-nav-asc,
#product .sub-nav .main-sub-nav-cost p,
#product .sub-nav .sub-sub-nav-cost:hover {
    color: #2c2e53;
}

#product .sub-nav .main-sub-nav-cost ul {
    display: flex;
}

#product .sub-nav .sub-sub-nav-cost {
    margin-left: 1rem;
    color: #bd945f;
}

#product .sub-nav .main-sub-nav-asc {
    position: relative;
}



#product .sub-nav .main-sub-nav-asc>ul {
    position: absolute;
    width: 10rem;
    background-color: #fff;
    border: 2px solid #bd945f;
    padding: 1rem;
    right: 0;
    display: none;
}

#product .sub-nav .main-sub-nav-asc:hover>ul {
    display: block;
}
#product .sub-nav .sub-sub-nav-asc:first-child i {
    margin-right: 0;
    color: #ba9759;
}
#product .sub-nav .sub-sub-nav-asc {
    margin-bottom: 0.5rem;
}
#product .sub-nav .sub-sub-nav-asc:last-child {
    margin-bottom: 0;
}
#product .sub-nav .sub-sub-nav-asc i {
    width: 10%;
    margin-right: 1rem;
}
/* main-product  */

.container {
    width: calc(12*100%/18);
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #fff;
    margin-top: 1rem;
}

#product .text {
    width: calc(11*100%/12);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#product .text .title {
    font-family: 'font-ultra';
    font-size: 1.5rem;
    color: #2c2e53;
    position: relative;
    line-height: 3rem;
}

#product .text .title::after {
    content: "";
    position: absolute;
    left: 0;
    width: 60%;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
}

#product .text .all {
    color: #2c2e53;

}

#product .list-product {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: calc(11*100%/12);
    justify-content: space-between;
}

#product .list-product .product-item {
    width: 22%;
    text-align: center;
    margin-bottom: 2rem;
}

#product .list-product .product-item img {
    width: 100%;
}

#product .list-product .product-item h3 {
    font-family: 'font-ultra';
    color: #2c2e53;
    margin-top: 1rem;
}

#product .list-product .product-item i {
    color: #bd945f;
}

#product .list-product .product-item p {
    font-size: 0.8rem;
}

#product .list-product .product-item .des {
    color: #6a6a6aa1 !important;
}

/* page  */
#product .page .list-page {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

#product .page .list-page .page-item {
    margin: 0 0.5rem;
    background-color: #f3f3f3;
    color: #fff;
    padding: 0 0.4rem;
    cursor: pointer;
}

#product .page .list-page .page-item.selected,
#product .page .list-page .page-item:hover {
    background-color: hotpink;
    color: #000;
}
/* footer */
footer {
    margin-top: auto;
    background-color: #363636;
    padding: 2rem 0;
}

footer .container {
    display: flex;
    width: calc(12*100%/18);
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.5rem;
    background-color: #363636;
}

footer .title {
    margin-bottom: 1rem;
    position: relative;
}

footer .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 0.2rem;
    width: 5rem;
}

footer li,
footer a,
footer .title,
footer i {
    color: #fff;
}

footer li,
footer a {
    font-family: 'font-thin';
}

footer .contact ul li:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer .contact ul li div {
    width: 3rem;
    margin-right: 1rem;
}

footer .contact ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .contact ul li:last-child div {
    width: 10rem;
}

/* reponsive */

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    * {
        font-size: 12px;
    }

    header nav .menu {
        width: calc(9*100%/12);
    }

    .container {
        width: calc(9*100%/12) !important;
    }

    /* main */
    #banner {
        height: 400px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    * {
        font-size: 12px;
    }

    header nav {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    header nav .menu {
        display: none;
    }

    header .logo {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }

    header .logo img {
        width: 10% !important;
        padding-bottom: 1rem;
    }

    header nav .responsive-menu {
        margin-top: 0.5rem;
        display: block;
        width: 100%;
        background-color: #bd945f;
        animation: xx 300ms ease-in-out;
        transform-origin: top center;
    }

    header nav .responsive-menu>.menu-item {

        animation: yy 800ms ease-in-out;
        transform-origin: left;
        /* animation-delay: 500ms; */
    }

    header nav .responsive-menu .menu-item {
        padding: 0 2rem;
    }

    header nav .responsive-menu .menu-item a {
        color: #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        display: block;
        line-height: 3.2rem;
    }

    header nav .responsive-menu .menu-item:last-child a {
        border-bottom: none !important;
    }

    .fa-bars {
        display: block !important;
    }

    @keyframes xx {
        0% {
            transform: rotateX(-90deg);
        }

        100% {
            transform: rotateX(0deg);
        }
    }

    @keyframes yy {
        0% {
            transform: rotateY(-90deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }

    /* main  */
    #banner {
        height: 350px;
    }

    #product .list-product .product-item {
        width: 45%;
        margin-bottom: 2rem;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* banner */
    #banner {
        height: 300px;
    }

    /* content  */
    #product .sub-nav .main-sub-nav-cost {
        flex-direction: column;
        position: relative;
    }
    #product .sub-nav .main-sub-nav-cost>ul {
        position: absolute;
        width: 10rem;
        background-color: #fff;
        border: 2px solid #bd945f;
        padding: 1rem;
        left: 0;
        top: 1rem;
        display: none;
        z-index: 3;
    }

    #product .sub-nav .main-sub-nav-cost:hover>ul {
        display: block;
    }

    #product .sub-nav .sub-sub-nav-cost {
        margin-bottom: 0.5rem;
    }
    #product .sub-nav .sub-sub-nav-cost:last-child {
        margin-bottom: 0;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    * {
        font-size: 10px;
    }

    /* banner */
    #banner {
        height: 200px;
    }

    #product .list-product .product-item {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 2rem;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .aboutUs,
    footer .container .contact {
        margin-top: 1rem;
    }
}