/* banner  */


#banner {
    background-image: url(../images/gioi-thieu/banner-gt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    z-index: 1;
    position: relative;
}

#banner img {
    width: 10% ;
}

#banner h1 {
    font-family: 'font-ultra';
    font-size: 3rem;
    color: #fff;
    margin-top: 1rem;
}

/* content */
#content{
    background-color: #f3f3f3;
    padding-bottom: 5rem;
}

#content .container {
    width: calc(12*100%/18);
    margin: 0 auto;
    background-color: #fff;
    margin-top: -3rem;
    position: relative;
    z-index: 2;
    padding-bottom: 4rem;
}

#content .title {
    font-size: 1.8rem;
    color: #2c2e53;
    text-align: center;
    padding-top: 3rem;
    font-family: 'font-ultra';
    position: relative;
    line-height: 3rem;
}

#content .title::after{
    content: "";
    position: absolute;
    left: 43%;
    right: 43%;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
}

#content .history .main-history {
    margin-top: 3rem;
    display: flex;
    padding: 0 calc(100%/12);
    justify-content: space-between;
}

#content .history .main-history img {
    width: 48%;
}

#content .history .main-history .text-history {
    width: 48%;
}

#content .history .main-history .text-history p{
    text-align: justify;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}    

#content .vision {
    padding: 0 calc(100%/12);
}

#content .main-vision {
    margin-top: 2rem;
}

#content .main-vision img{
    width: 100%;
}

#content .main-vision p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#content .list-mission {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#content .list-mission .mission-item {
    width: calc(500%/12);
    border: 3px solid #bd945f;
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
}

#content .list-mission .mission-item .img{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}


#content .list-mission .mission-item h3{
    color: #bd945f;
}

#content .list-mission .mission-item p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}