* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}

a {
    text-decoration: none;
}

/* banner */


/* product */
#product {
    padding: 3rem 0;
    background-color: #f3f3f3;
}

.container {
    width: calc(12*100%/18);
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #fff;
    margin-top: 3rem;
}
#product .text {
    width: calc(11*100%/12);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#product .text .title {
    font-family: 'font-ultra';
    font-size: 1.5rem;
    color: #2c2e53;
    position: relative;
    line-height: 3rem;
}

#product .text .title::after {
    content: "";
    position: absolute;
    left: 0;
    width: 60%;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
}

#product .text .all {
    color: #2c2e53;

}

#product .list-product {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex; 
    flex-wrap: wrap;
    width: calc(11*100%/12);
    justify-content: space-between;
}

#product .list-product .product-item {
    width: 22%;
    text-align: center;
}

#product .list-product .product-item img{
    width: 100%;
}

#product .list-product .product-item h3 {
    font-family: 'font-ultra';
    color: #2c2e53;
    margin-top: 1rem;
}

#product .list-product .product-item i {
    color: #bd945f;
}

#product .list-product .product-item p {
    font-size: 0.8rem;
}

#product .list-product .product-item .des {
    color: #6a6a6aa1 !important;
}


/* reponsive */

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    

}

/* `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    * {
        font-size: 12px;
    }
    #product .list-product .product-item {
        width: 45%;
        margin-bottom: 2rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    * {
        font-size: 10px;
    }
    
    #product .list-product .product-item {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 2rem;
    }

}