<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <!-- boostrap v5.3 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- font-awesome  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- BEGIN: header -->
    <header>
        <nav class="navbar container">
            <div class="navbar-logo w-25">
                <img src="../images/logo.png" alt=" " class="">
            </div>
            <ul class="navbar-menu d-flex justify-content-between w-50">
                <li class="menu-item selected">
                    <a href="../view/index.html">TRANG CHỦ</a>
                </li>
                <li class="menu-item">
                    <a href="../view/introduction.html">GIỚI THIỆU</a>
                </li>
                <li class="menu-item">
                    <a href="../view/product.html">SẢN PHẨM</a>
                </li>
                <li class="menu-item">
                    <a href="../view/news.html">TIN TỨC</a>
                </li>
                <li class="menu-item">
                    <a href="../view/partner.html">ĐỐI TÁC</a>
                </li>
                <li class="menu-item">
                    <a href="../view/contact.html">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- END: header -->

    <main id="index">
        <!-- BEGIN: Banner -->
        <section class="banner container-fluid p-0">
            <div class="banner-img">
                <img class="w-100" src="../images/banner.png" alt="">
            </div>
            <div class="introduction container p-0 m-auto">
                <div class="text-blue h1 font-ultra">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</div>
                <div class="text-gold h1 font-ultra">HOÀNG HOAN</div>
                <p class="w-50">Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của
                    khách hàng, đem lại những phút giây thư giãn tuyệt vời bên gia đình và những người thấn yêu</p>
                <button class="btn btn-gold rounded-0 bg-gold px-4 py-2"><a href="../view/contact.html"
                        class="text-white">LIÊN
                        HỆ NGAY</a></button>
            </div>
        </section>
        <!-- END: Banner -->

        <!-- BEGIN: Product -->
        <section class="product bg-f3f3f3">
            <div class="container">
                <div class="category d-flex flex-wrap row bg-white text-center">
                    <div class="category-item col-lg-3 col-sm-6 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-phong-khach.png" alt="">
                            <p>Phòng khách</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-phong-ngu.png" alt="">
                            <p>Phòng ngủ</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-phong-bep.png" alt="">
                            <p>Phòng bếp</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-phong-tam.png" alt="">
                            <p>Phòng tắm</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-tre-em.png" alt="">
                            <p>Trẻ em</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-van-phong.png" alt="">
                            <p>Văn phòng</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-cau-thang.png" alt="">
                            <p>Cầu thang</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-sm-6">
                        <a href="../view/all-products.html">
                            <img src="../images/loai-sp/icon-do-trang-tri.png" alt="">
                            <p>Đồ trang trí</p>
                        </a>
                    </div>
                </div>

                <div class="hot-product">
                    <h1>
                        SẢN PHẨM NỔI BẬT
                    </h1>

                    <ul class="slide-product">
                        <li class="item-hot-product">
                            <a href="../view/product-details-1.html">
                                <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="">
                                <h3>GiƯỜNG CHÂU ÂU</h3>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="des">(Size lớn, trắng sữa)</p>
                                <p class="cost">9.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="item-hot-product">
                            <a href="../view/product-details-1.html">
                                <img src="../images/san-pham-noi-bat/sp-2.jpg" alt="">
                                <h3>BÀN LÀM VIỆC</h3>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="des">(Size vừa, trắng nâu)</p>
                                <p class="cost">3.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="item-hot-product">
                            <a href="../view/product-details-1.html">
                                <img src="../images/san-pham-noi-bat/sp-3.jpg" alt="">
                                <h3>TỦ QUẦN ÁO</h3>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="des">(4 ngăn, trắng gỗ)</p>
                                <p class="cost">12.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="item-hot-product ">
                            <a href="../view/product-details-1.html">
                                <img src="../images/san-pham-noi-bat/sp-4.jpg" alt="">
                                <h3>KỆ ĐỂ ĐỒ</h3>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="des">(4 ngăn, trắng gỗ)</p>
                                <p class="cost">2.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="item-hot-product">
                            <a href="../view/product-details-1.html">
                                <img src="../images/san-pham-noi-bat/sp-4.jpg" alt="">
                                <h3>KỆ ĐỂ ĐỒ</h3>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="des">(4 ngăn, trắng gỗ)</p>
                                <p class="cost">2.999.000 VNĐ</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </section>
        <!-- END: Product -->

        <!-- BEGIN: ABOUTUS -->
        <section class="aboutUs">
            <div class="container">
                <div class="about">
                    <h1>
                        VỀ CHÚNG TÔI
                    </h1>

                    <div class="content">
                        <div class="img-content">
                            <img src="../images/ve-chung-toi/ve-chung-toi.jpg" alt="">
                        </div>

                        <div class="about-content">
                            <h2 class="title">NỘI THẤT <span>HOÀNG HÀ</span>
                                <br>UY TÍN XONG HÀNH CHẤT LƯỢNG
                            </h2>
                            <p>
                                Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách hàng, đem
                                lại những phút giây thư giãn tuyệt vời bên gia đình và những người thấn yêu
                            </p>
                            <p>
                                Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách hàng, đem
                                lại những phút giây thư giãn tuyệt vời bên gia đình và những người thấn yêu. Sứ mệnh của
                                chúng
                            </p>
                            <ul class="list-about">
                                <li class="list-about-item"><img src="../images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                                </li>
                                <li class="list-about-item"><img src="../images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                                </li>
                                <li class="list-about-item"><img src="../images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                                </li>
                                <li class="list-about-item">
                                    <a href="../view/product.html">
                                        <img src="../images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                                        <p class="more">Xem thêm &gt;</p>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

                <div class="whyChooseUs">
                    <h1>
                        TẠI SAO NÊN CHỌN HOÀNG HÀ
                    </h1>

                    <ul class="list-wCS">
                        <li class="list-wCS-item">
                            <img src="../images/ve-chung-toi/chinh-sach.jpg" alt="">
                            <div class="list-wCS-item-text">
                                <h3>CHÍNH SÁCH GIÁ</h3>
                                <p>Tốt nhất và công khai trên website</p>
                            </div>
                        </li>
                        <li class="list-wCS-item">
                            <img src="../images/ve-chung-toi/san-pham.jpg" alt="">
                            <div class="list-wCS-item-text">
                                <h3>SẢN PHẨM</h3>
                                <p>Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                            </div>
                        </li>
                        <li class="list-wCS-item">
                            <img src="../images/ve-chung-toi/chat-luong.jpg" alt="">
                            <div class="list-wCS-item-text">
                                <h3>CHẤT LƯỢNG</h3>
                                <p>Cam kết chất lượng sản phẩm và tiến độ thi công</p>
                            </div>
                        </li>
                        <li class="list-wCS-item">
                            <img src="../images/ve-chung-toi/bao-hanh.jpg" alt="">
                            <div class="list-wCS-item-text">
                                <h3>BẢO HÀNH</h3>
                                <p>Dịch vụ bảo hành tốt nhất khu vực</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: ABOUTUS -->

        <!-- BEGIN: NEWS -->
        <section class="_news">
            <div class="container">
                <div class="news">
                    <h1>TIN TỨC</h1>
                    <div class="container-news">
                        <div class="main-news">
                            <div>
                                <img src="../images/tin-tuc/tintuc-1.jpg" alt="">
                                <div class="main-news-text">
                                    <h3>Cách chọn sofa cho khách sạn nhà bạn thêm</h3>
                                    <p>
                                        Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách
                                        hàng,
                                        đem
                                        lại những phút giây thư giãn tuyệt vời bên gia đình và những người thấn yêu
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="list-news">
                            <div class="list-news-item">
                                <img src="../images/tintuc-2.jpg" alt="" class="news-item-image">
                                <div class="news-item-text">
                                    <h3>Cách chọn sofa cho khách sạn nhà bạn thêm</h3>
                                    <p>
                                        Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách
                                        hàng
                                    </p>
                                </div>
                            </div>
                            <div class="list-news-item">
                                <img src="../images/tintuc-3.jpg" alt="" class="news-item-image">
                                <div class="news-item-text">
                                    <h3>Cách chọn sofa cho khách sạn nhà bạn thêm</h3>
                                    <p>
                                        Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách
                                        hàng
                                    </p>
                                </div>
                            </div>
                            <div class="list-news-item">
                                <img src="../images/tintuc-4.jpg" alt="" class="news-item-image">
                                <div class="news-item-text">
                                    <h3>Cách chọn sofa cho khách sạn nhà bạn thêm</h3>
                                    <p>
                                        Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách
                                        hàng
                                </div>
                            </div>
                            <div class="more">
                                <a href="../view/news.html">Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="partner">
                    <h1>
                        ĐỐI TÁC
                    </h1>
                    <div>
                        <img src="../images/doi-tac/vinpearl.png" alt="">
                        <img src="../images/doi-tac/muong-thanh.png" alt="">
                        <img src="../images/doi-tac/sheraton.png" alt="">
                        <img src="../images//doi-tac/the-coffee-house.png" alt="">
                        <img src="../images/doi-tac/marvella.png" alt="">
                        <img src="../images/doi-tac/sunrise-sapa.png" alt="">
                        <img src="../images/doi-tac/melissa.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- END: NEWS -->

        <!-- BEGIN: CONTACT -->
        <section class="form-contact">
            <form action="">
                <img src="../images/lienhe-1-tachnen.png" alt="">
                <div class="container">
                    <div class="contact-text">
                        <p>
                            Trải nghiệm dịch vụ &nbsp;
                        </p>
                        <p class="bold">
                            cùng Hoàng Hoan ngay
                        </p>
                    </div>
                    <div class="contact-form-input">
                        <label for="tt">Thông tin liên hệ</label>
                        <div class="input">
                            <input type="text" name="" id="tt" placeholder="Email/Số điện thoại">
                            <button>Gửi</button>
                        </div>

                    </div>
                </div>
            </form>
        </section>
        <!-- END: CONTACT -->
    </main>

    <!-- Begin: footer  -->
    <footer>
        <div class="d-flex justify-content-between container mt-4">
            <div>
                <div class="title">
                    <span>THÔNG TIN CHUNG</span>
                </div>
                <ul class="infor">
                    <li style="font-size: 1.37rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span>&nbsp;09999.999.999</span>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <span>&nbsp;cskh@hoanghoan.vn</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>&nbsp;Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</span>
                    </li>
                </ul>
            </div>
            <div>
                <div class="title">
                    <span>VỀ CHÚNG TÔI</span>
                </div>
                <ul class="about-us">
                    <li>
                        <a>Giới thiệu</a>
                    </li>
                    <li>
                        <a>Sản phẩm</a>
                    </li>
                    <li>
                        <a>Tin tức</a>
                    </li>
                    <li>
                        <a>Đối tác</a>
                    </li>
                    <li>
                        <a>Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="title">
                    <span>KẾT NỐI VỚI CHÚNG TÔI</span>
                </div>
                <ul class="contact">
                    <li class="d-flex mb-3">
                        <div class="img-social">
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div class="img-social">
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div class="img-social">
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <img src="../images/xacnhan-bocongthong.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End: footer  -->


    <!-- boostrap v5.3 js -->
    <!-- dropdowns, popovers, or tooltips -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>

    <!-- all -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
        </script>

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slide-product').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
        const handleClickMenu = () => {
            document.querySelector(".menu").classList.toggle("responsive-menu")
        }
    </script>

</body>

</html>