<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tất cả sản phẩm</title>

    <!-- font-awesome  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/all-products.css">
</head>

<body>
    <!-- BEGIN: Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="Logo" style="width: 80%;">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="../view/index.html">TRANG CHỦ</a>
                </li>
                <li class="menu-item">
                    <a href="../view/introduction.html">GIỚI THIỆU</a>
                </li>
                <li class="menu-item">
                    <a class="selected" href="../view/product.html">SẢN PHẨM</a>
                </li>
                <li class="menu-item">
                    <a href="../view/news.html">TIN TỨC</a>
                </li>
                <li class="menu-item">
                    <a href="../view/partner.html">ĐỐI TÁC</a>
                </li>
                <li class="menu-item">
                    <a href="../view/contact.html">LIÊN HỆ</a>
                </li>
            </ul>

        </nav>
    </header>
    <!-- END: Header -->

    <main>
        <section id="banner">
            <div class="container-banner">
                <p class="line1">Trải nghiệm</p>
                <p class="line2">không gian hiện đại</p>
            </div>
        </section>
        <section id="product">
            <div class="sub-nav">
                <ul class="sub-nav-cost">
                    <li class="main-sub-nav-cost">

                        <p>Chọn mức giá:<i class="fa-solid"></i></p>
                        <ul>
                            <li class="sub-sub-nav-cost">Dưới 5 triệu</li>
                            <li class="sub-sub-nav-cost">5 - 10 triệu</li>
                            <li class="sub-sub-nav-cost">10 - 15 triệu</li>
                            <li class="sub-sub-nav-cost">Trên 15 triệu</li>
                        </ul>
                    </li>
                </ul>
                <ul class="sub-nav-asc">
                    <li class="main-sub-nav-asc">

                        <p>Sắp xếp <i class="fa-solid fa-sort-down"></i></p>
                        <ul>
                            <li class="sub-sub-nav-asc"><i class="fa-solid fa-check"></i>Mới nhất</li>
                            <li class="sub-sub-nav-asc"><i></i>Phổ biến nhất</li>
                            <li class="sub-sub-nav-asc"><i></i>Giá cao đến thấp</li>
                            <li class="sub-sub-nav-asc"><i></i>Giá thấp đến cao</li>
                        </ul>
                    </li>


                </ul>
            </div>
            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">9.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">3.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">12.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item ">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">2.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">9.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">3.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">12.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item ">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">2.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">9.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">3.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">12.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item ">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">2.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">9.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">3.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">12.999.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item ">
                        <a href="../view/product-details-1.html">
                            <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                            <h3>GiƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="des">(Size lớn, trắng sữa)</p>
                            <p class="cost">2.999.000 VNĐ</p>
                        </a>
                    </li>
                </ul>
                <div class="page">
                    <ul class="list-page">
                        <li class="page-item selected">1</li>
                        <li class="page-item">2</li>
                        <li class="page-item">3</li>
                        <li class="page-item">4</li>
                        <li class="page-item">5</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- BEGIN: Footer -->
    <footer>
        <div class="container">
            <div class="info">
                <div class="title">
                    THÔNG TIN CHUNG
                </div>
                <ul class="list-info">
                    <li style="font-size: 1.2rem; font-family: 'font-medium' ;">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone">&nbsp;</i>0.999.999.99</li>
                    <li><i class="fa-regular fa-envelope"></i>&nbsp;cskh@meocon.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn Trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="aboutUs">
                <div class="title">
                    VỀ CHÚNG TÔI
                </div>
                <ul class="list-pages">
                    <li>
                        <a href="../view/introduction.html">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="../view/product.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="../view/news.html">Tin tức</a>
                    </li>
                    <li>
                        <a href="../view/partner.html">Đối tác</a>
                    </li>
                    <li>
                        <a href="../view/contact.html">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">
                    KẾT NỐI VỚI CHÚNG TÔI
                </div>
                <ul class="">
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: Footer -->

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        const handleClickMenu = () => {
            document.querySelector(".menu").classList.toggle("responsive-menu")

        }
    </script>

</body>

</html>