<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/introduction.css">
</head>

<body>
    <!-- BEGIN: Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="Logo" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item ">
                    <a href="../view/index.html">TRANG CHỦ</a>
                </li>
                <li class="menu-item selected">
                    <a href="../view/introduction.html">GIỚI THIỆU</a>
                </li>
                <li class="menu-item">
                    <a href="../view/product.html">SẢN PHẨM</a>
                </li>
                <li class="menu-item">
                    <a href="#">TIN TỨC</a>
                </li>
                <li class="menu-item">
                    <a href="#">ĐỐI TÁC</a>
                </li>
                <li class="menu-item">
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- END: Header -->

    <main>
        <!-- BEGIN BANNER -->
        <section id="banner">
            <img src="../images/gioi-thieu/logo-banner.png" alt="">
            <h1>GIỚI THIỆU</h1>
        </section>
        <!-- END BANNER -->

        <!-- BEGIN CONTENT  -->
        <section id="content">
            <div class="container">
                <div class="history">
                    <p class="title">
                        THÀNH LẬP & PHÁT TRIỂN
                    </p>
                    <div class="main-history">
                        <img src="../images/gioi-thieu/thanhlap-phattrien.png" alt="">
                        <div class="text-history">
                            <p>
                                Nội Thất Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề mộc và
                                khao khát mang những sản phẩm nội thất đẹp của mình đến với những khách hàng thân yêu
                            </p>
                            <p>
                                Cả 1 quá trình từ 1 người thợ phụ rồi làm thợ mộc chính, tự tạo ra cho mình 1 phân xưởng
                                nhỏ dần phát triển và hiện tại Hoàng Hoan đã là 1 trong những nội thất uy tín chất lượng
                                với
                            </p>
                            <p style="padding-bottom: 0;">
                                Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp cho khách hàng theo nhiều gam màu sắc
                                khác nhau và phong cách đa dạng theo đúng sở thích, lứa tuổi và phong thủy của khách
                                hàng
                            </p>

                        </div>
                    </div>
                </div>

                <div class="vision">
                    <p class="title">
                        TẦM NHÌN
                    </p>
                    <div class="main-vision">
                        <img src="../images/gioi-thieu/vision.png" alt="">
                        <div class="text-vision">
                            <p>Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất trên triết lý tôn trọng và giữ
                                gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các
                                giải pháp sản phẩm và công nghệ tiên tiến nhất, hợp tác với các đối tác công nghệ hàng
                                đầu thế giới, tìm kiếm và phát triển các vùng nguyên liệu tự
                                nhiên được thiên nhiên chọn lọc, ưu đãi trong nước lẫn nước ngoài, tất cả nhằm tạo ra
                                các sản phẩm nội thất tự nhiên <br> gần gữi cho người khách hàng Việt Nam.</p>
                        </div>
                    </div>
                </div>

                <div class="mission">
                    <p class="title">
                        SỨ MỆNH
                    </p>
                    <ul class="list-mission">
                        <li class="mission-item">
                            <div class="img"><img src="../images/gioi-thieu/xa-hoi.png" alt=""></div>
                            <div class="mission-item-text">
                                <h3>Với xã hội</h3>
                                <p>Hài hòa lợi ích doanh nghiệp với lợi ích xã hội, tích cực
                                    cùng cộng đồng xây dựng môi trường sống bền vững.</p>
                            </div>
                        </li>
                        <li class="mission-item">
                            <div class="img"><img src="../images/gioi-thieu/nhan-vien.png" alt=""></div>
                            <div class="mission-item-text">
                                <h3>Với nhân viên</h3>
                                <p>Xây dựng môi trường làm việc chuyên nghiệp, năng động,
                                    sáng tạo và nhân văn.</p>
                            </div>
                        </li>
                        <li class="mission-item">
                            <div class="img"><img src="../images/gioi-thieu/xa-hoi.png" alt=""></div>
                            <div class="mission-item-text">
                                <h3>Với đối tác</h3>
                                <p>Đề cao tinh thần hợp tác cùng phát triển,cam kết trở thành
                                    “Người đồng hành số 1” của các đối tác.</p>
                            </div>
                        </li>
                        <li class="mission-item">
                            <div class="img"><img src="../images/gioi-thieu/thi-truong.png" alt=""></div>
                            <div class="mission-item-text">
                                <h3>Với thị trường</h3>
                                <p>Cung cấp các sản phẩm với chất lượng quốc tế và phù hợp
                                    với con người Việt Nam.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END CONTENT -->
    </main>

    <!-- BEGIN: Footer -->
    <footer>
        <div class="container">
            <div class="info">
                <div class="title">
                    THÔNG TIN CHUNG
                </div>
                <ul class="info">
                    <li style="font-size: 1.2rem; font-family: 'font-medium' ;">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone">&nbsp;</i>0.999.999.99</li>
                    <li><i class="fa-regular fa-envelope"></i>&nbsp;cskh@meocon.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn Trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="aboutUs">
                <div class="title">
                    VỀ CHÚNG TÔI
                </div>
                <ul class="list-pages">
                    <li>
                        <a href="../view/introduction.html">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="../view/product.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="">Tin tức</a>
                    </li>
                    <li>
                        <a href="">Đối tác</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">
                    KẾT NỐI VỚI CHÚNG TÔI
                </div>
                <ul class="">
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: Footer -->
</body>

</html>