<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <!-- BEGIN: Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="Logo" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item ">
                    <a href="../view/index.html">TRANG CHỦ</a>
                </li>
                <li class="menu-item">
                    <a href="../view/introduction.html">GIỚI THIỆU</a>
                </li>
                <li class="menu-item selected">
                    <a href="../view/product.html">SẢN PHẨM</a>
                </li>
                <li class="menu-item">
                    <a href="#">TIN TỨC</a>
                </li>
                <li class="menu-item">
                    <a href="#">ĐỐI TÁC</a>
                </li>
                <li class="menu-item">
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- END: Header -->

    <main>
    </main>

    <!-- BEGIN: Footer -->
    <footer>
        <div class="container">
            <div class="info">
                <div class="title">
                    THÔNG TIN CHUNG
                </div>
                <ul class="info">
                    <li style="font-size: 1.2rem; font-family: 'font-medium' ;">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone">&nbsp;</i>0.999.999.99</li>
                    <li><i class="fa-regular fa-envelope"></i>&nbsp;cskh@meocon.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn Trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="aboutUs">
                <div class="title">
                    VỀ CHÚNG TÔI
                </div>
                <ul class="list-pages">
                    <li>
                        <a href="../view/introduction.html">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="../view/product.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="">Tin tức</a>
                    </li>
                    <li>
                        <a href="">Đối tác</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">
                    KẾT NỐI VỚI CHÚNG TÔI
                </div>
                <ul class="">
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: Footer -->
</body>

</html>