<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>

    <!-- font-awesome  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <!-- BEGIN: Header -->
    <!-- END: Header -->

    <main>
        <section id="product">
            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                    <a href="">
                        <p class="all">Xem tất cả</p>
                    </a>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">9.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">3.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">12.999.000 VNĐ</p>
                    </li>
                    <li class="product-item ">
                        <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">2.999.000 VNĐ</p>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                    <a href="">
                        <p class="all">Xem tất cả</p>
                    </a>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">9.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">3.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">12.999.000 VNĐ</p>
                    </li>
                    <li class="product-item ">
                        <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">2.999.000 VNĐ</p>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                    <a href="">
                        <p class="all">Xem tất cả</p>
                    </a>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">9.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">3.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">12.999.000 VNĐ</p>
                    </li>
                    <li class="product-item ">
                        <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">2.999.000 VNĐ</p>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                    <a href="">
                        <p class="all">Xem tất cả</p>
                    </a>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">9.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">3.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">12.999.000 VNĐ</p>
                    </li>
                    <li class="product-item ">
                        <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">2.999.000 VNĐ</p>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="text">
                    <p class="title">PHÒNG KHÁCH</p>
                    <a href="">
                        <p class="all">Xem tất cả</p>
                    </a>
                </div>
                <ul class="list-product">
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp1.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">9.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp2.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">3.999.000 VNĐ</p>
                    </li>
                    <li class="product-item">
                        <img src="../images/san-pham/phongkhach-sp3.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">12.999.000 VNĐ</p>
                    </li>
                    <li class="product-item ">
                        <img src="../images/san-pham/phongkhach-sp4.png" alt="">
                        <h3>GiƯỜNG CHÂU ÂU</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="des">(Size lớn, trắng sữa)</p>
                        <p class="cost">2.999.000 VNĐ</p>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <!-- BEGIN: Footer -->
    <!-- END: Footer -->

</body>

</html>