<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <style>
        * {
            background-color: black;
        }

        ul {
            list-style: none;
            display: flex;
            width: 80%;
            margin: 0 auto;
        }

        li {
            width: 40%;
        }

        img {
            width: 80%;
        }
    </style>
</head>

<body>


    <div class="slider-for" style="width: 500px;">
        <img src="../images/san-pham/ban-uong-nuoc.png" alt="">
        <img src="../images/san-pham/ban-uong-nuoc-1.png" alt="">
        <img src="../images/san-pham/ban-uong-nuoc-2.png" alt="">

    </div>
    <ul class="slider-nav">
        <li><img src="../images/san-pham/ban-uong-nuoc-1.png" alt=""></li>
        <li><img src="../images/san-pham/ban-uong-nuoc-2.png" alt=""></li>
        <li><img src="../images/san-pham/ban-uong-nuoc-3.png" alt=""></li>
        <li><img src="../images/san-pham/ban-uong-nuoc-4.png" alt=""></li>
        <li><img src="../images/san-pham/ban-uong-nuoc-4.png" alt=""></li>
    </ul>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            // arrow: false,
            centerMode: true,
            focusOnSelect: true
        });
    </script>
</body>

</html>