* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'font-medium';
    color: #222222;
    list-style: none;
}

a {
    text-decoration: none;
    color: #222222;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header .navbar .navbar-menu .menu-item {
    position: relative;
    line-height: 1.5;
}

header .navbar .selected::after,
header .navbar .navbar-menu .menu-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.25rem;
    width: 70%;
    background-color: #bd945f;
}

/* all */
.text-gold {
    color: #bd945f !important;
}

.bg-gold {
    background-color: #bd945f !important;
}

.btn-gold {
    background-color: #bd945f !important;
}

.btn-gold:hover {
    background-color: #b39e82 !important;
}

.border-gold {
    border-color: #bd945f !important;
}

.text-blue {
    color: #343659 !important;
}

.font-ultra {
    font-family: 'font-ultra';
}

.font-thin {
    font-family: 'font-thin';
}

.title {
    font-family: 'font-ultra';
    position: relative;
    line-height: 1.5rem;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.25rem;
    width: 60%;
    background-color: #bd945f;
}

.bg-f3f3f3 {
    background-color: #f3f3f3;
}

.mt-5rem {
    margin-top: 5rem !important;
}

.w-80 {
    width: 80% !important;
}

.text-justify {
    text-align: justify;
}
/* index.html */
.title-index {
    font-family: 'font-ultra';
    position: relative;
}

.title-index::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 0;
    bottom: -10px;
    height: 0.5rem;
    width: 60%;
    background-color: #bd945f;
}
/* index banner */
#index .banner{
    position: relative;
}

#index .introduction {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

/* index category */
#index .container-category {
    margin-top: -3rem;
        position: relative;
}

#index .slick-prev:before,
#index .slick-next:before {
    font-size: 2.86rem;
    color: #bd945f;
}

#index .slick-prev {
    left: -1.2rem;
}
/* index aboutUs */
#index .aboutUs {
    position: relative;
}

#index .aboutUs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/ve-chung-toi/bg-about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    filter: brightness(50%);
}

#index .aboutUs .container {
    margin: 0 auto;
    position: relative;
}

#index .aboutUs .more {
    top: 40%;
    right: 10%;
}

/* index contant  */

.form-contact {
    margin-top: 10rem;
    position: relative;
    background-image: url('../images/lienhe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
/* all-products.html*/
/* all-products banner*/
#all-products .banner .img-banner {
    position: relative;
}

#all-products .banner .btn-buy {
    position: absolute;
    right: 20%;
    bottom: 38%;
}

/* all-products list-product*/
#all-products .list-products {
    background-color: #f3f3f3;
}

#all-products .list-products .filter-price-item:hover {
    cursor: pointer;
    color: #343659;
}

#all-products .list-products .title {
    font-family: 'font-ultra';
    position: relative;
}

#all-products .list-products .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 0.4rem;
    width: 60%;
    background-color: #bd945f;
}

#all-products .list-details-desc {
    border-bottom: 3px solid #bd945f;
}

#all-products .list-details-desc li {
    cursor: pointer;
}

#all-products .list-details-desc li:hover {
    color: #343659;
    border-bottom: 3px solid #343659;
}

/* footer */
footer {
    margin-top: auto;
    background-color: #363636;
}

footer li,
footer span,
footer i,
footer a {
    color: #fff;
    font-family: 'font-thin';
    cursor: pointer;
}

footer li:hover,
footer span:hover,
footer i:hover,
footer a:hover {
    color: #bd945f;
}

footer .container .title {

    margin-bottom: 1.3rem;
    position: relative;
}

footer .container .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.2rem;
    width: 6rem;
    background-color: #fff;

}

footer ul {
    padding: 0 !important;
}

footer .container .title span {
    font-family: 'font-medium';
}

footer .contact .img-social {
    width: 2rem;
    margin-right: 1rem;
}

footer .contact img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .contact li:last-child {
    width: 11rem;
}